html, body{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(35deg,
      #04b3b3,
      #fa5252,
      #fae423);
}
  #sun {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 0px 0px 0px 400px;
    box-shadow: 20px 20px 20px 20px #888888;
    float: right;
    top: 0;
    right: 0;
    background: linear-gradient(35deg,
        yellow,
        orange);
    opacity: 0.18;
  
  }

  #earth {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 0px 700px 0px 0px;
    /*border-radius: 50px 600px 50px 25px;*/
    box-shadow: 12px 0px 40px 0px #888888;
    bottom: 0;
    left: 0;
  }